
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap')




*{
    padding: 0;
    margin: 0;
}
/* SEÇÃO CABECALHO*/
.cabecalho{
    background-color: rgb(170, 6, 96);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Chonburi', cursive;
    display: center;
    justify-content: center;
}

.cabecalho-titulo{
    color: white;
    text-decoration: underline;
    margin-top: 20px;
    
    
}

.cabecalho-itens{
    display: inline-block;
    padding: 20px 20px;

}

/* SEÇÃO TURMA*/

.turma{
    background-image: rgba(221, 123, 230, 0.5);
    font-family: Playfair Display;
    
}

.turma-caixa-textos{

}
.turma-titulo{
    padding: 100px 50px;
}

.turma-imagem{
    width: 20%;
}

.turma-paragrafo{
    padding: 5px 50px;
}