*{
    padding: 0;
    margin: 0;
}
/* SEÇÃO CABECALHO*/
.cabecalho{
    background-color: rgb(153, 6, 87);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Chonburi', cursive;
    display: center;
    justify-content: space-around;
}

.cabecalho-titulo{
    color: white;
    text-decoration: underline;
    margin-top: 20px;
    
    
}

.cabecalho-itens{
    display: inline-block;
    padding: 20px 20px;

}

/* SEÇÃO TURMA*/

.turma{
    background-image: linear-gradient(rgb(221, 123, 230),rgba(5, 2, 27, 0.315));
    font-family: 'Kavoon', cursive;
    
}

.turma-caixa-textos{

}
.turma-titulo{
    padding: 100px 50px;
}

.turma-imagem{
    width: 20%;
}

.turma-paragrafo{
    padding: 5px 50px;
}