.botao{
   font-family: Lora;
   background-color: var(--botao-inativo);
   color: var(--branco)
   display: flex;
   justify-content: center;
   padding: 1em;
   font-size: 18px;
   align-items: center;
   width: 100%;  

   
   border-botton: 4px solid var(--botao-ativo);
   border-left:2px solid var(--botao-ativo);
   border_rigth:2px solid var(--botao-ativo);
   border-top:none;
   





}